<div class="CN_card text_font">
  <div class="ps_1 pt_1 pe_1 pd_1">
    <div class="col_2 div_start">
      <button class="CN_button_success l3" (click)="goBack()"><i class="bi bi-arrow-left"></i></button>
    </div>
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'ORDER_NUMBER'  | translate}}</div>
    <input class="CN_input col_10" id="OrderNumber" [(ngModel)]="newOrder.orderNumber">
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'ORDER_EMAIL'  | translate}}</div>
    <input class="CN_input col_10" id="OrderEmail" [(ngModel)]="newOrder.orderEmail">
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'ORDER_LINK'  | translate}}</div>
    <textarea class="CN_input col_10 r3" id="OrderLink" [(ngModel)]="newOrder.orderLink"></textarea>
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'ORDER_PRICE'  | translate}}</div>
    <input class="CN_input col_5" id="totalPrice" type="number" [(ngModel)]="newOrder.totalPrice">
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'ITEM_REPO'  | translate}}</div>
    <select class="CN_input col_10" id="StoreHouse"  [(ngModel)]="newOrder.storeHouse">
      <option *ngFor="let storeHouse of storeHouseList" value="{{storeHouse.name}}">
        {{storeHouse.name}}
      </option>
    </select>
  </div>
  <div class="ps_2 pe_2 mt_1">
    <div class="text_italic">{{'DETAILS'  | translate}}</div>
    <textarea class="CN_input col_10 r3" id="detail" [(ngModel)]="newOrder.message"></textarea>
  </div>
  <div class="mt_2 me_1 mb_1 div_end">
    <button class="CN_button_success div_inline l6" *ngIf="storeHouseList.length > 0 " (click)="createOrder()">{{'CREATE_ORDER' | translate}}</button>
    <button class="CN_button_disable div_inline l6" *ngIf="storeHouseList.length == 0">{{'CREATE_ORDER' | translate}}</button>
  </div>
</div>

<div class="modal-wrapper" id="messageView">
  <div class="CN_pop_card text_font">
    <div class="mt_1 me_1 div_end r0">
      <i class="bi bi-x-square text_success" style="display:none" id="popCloseButton" (click)="closePop()" ></i>
    </div>
    <div class="mb_1 ms_2 me_2">
      <label>{{ message | translate}}</label>
    </div>
    <div class="mb_1 ms_1 me_1 r0">
      <div class="progress" style="display: none" id="popProcessBar">
        <div class="progress-bar" style="width:100%;"></div>
      </div>
    </div>
  </div>
</div>
